* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  transition: 0.2s;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  height: 100vh;
}

.text {
  width: 100%;
  height: 150px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  font-size: 26px;
  padding-left: 10px;
  transition: 0.2s;
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;
  margin-bottom: 50px;
  width: 100%;
  height: 330px;
  background-color: #ccc;
}

.keyboard__row {
  display: flex;
  justify-content: space-evenly;
  column-gap: 5px;
}

.key {
  width: 60px;
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  border-radius: 10%;
}

.key:hover {
  background-color: #e3e3e3;
  cursor: pointer;
}

.key:active {
  background-color: #333;
  color: #fff;
}

.backspace_key {
  width: 120px;
}

.tab_key,
.del_key {
  width: 90px;
}

.caps_lock_key,
.enter_key,
.shift_key {
  width: 124px;
}

.space_key {
  max-width: 465px;
  width: 100%;
  border-radius: 0;
}

.hidden {
  display: none;
}

.key.active {
  background-color: #333;
  color: #fff;
}

/* .key.remove {
  animation: keys_animation 0.5s forwards;
} */

/* @keyframes key_animation {
  0% {
    background-color: #333;
    color: #fff;
  }
  100% {
    background-color: #fff;
    color: #000;
  }
} */
